
body {
    background-image: url(./images/bg.png);
    color: white;
}

/* Navigation */

nav{
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}

nav>a {
    text-decoration:none;
    margin: 40px;
    font-family: 'Space Mono', monospace;
    color: white;
    font-weight: 700;

}


nav>a:hover {
    text-decoration:none;
    margin: 50px;
    font-family: 'Space Mono', monospace;
    color: white;
    font-weight: 700;

}

h1{
    color:#cc3a00;
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding: 50px;
}

/* Footer */

footer{ 
    padding: 40px;
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
}

footer > p {
    text-align: end;
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 16px;
}

/* Images */

.img{
    display: block;
    width:100%;

}

/* Main section */
/* .flex {
    display: flex;
    padding: 0 50px;
} */

section {
    padding: 50px;
}

.paragraph {
    padding: 0px 50px; 
}


.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card>h3 { color:black; }

/* MEDIA QUERIES */
@media only screen and (max-width:1024px) {

    /* Increase bottom padding for card columns on mobile */
    .col {
        padding-bottom: 32px;
    }
}
